<amp-accordion animate>
    <section>
        <header class="header-selection">
            <div class="outer">
                <div class="inner">
                    <span class="title">Unsere Ferienwohnungen</span>
                    <span class="mobile-title">Menü</span>
                    {% include icon/expand_more.svg %}
                    {% include icon/expand_less.svg %}
                </div>
            </div>
        </header>
        <div class="outer-content">
            <div class="inner-content">

                <a class="item {% if site.url == 'https://lacolonica.eu' %}active{% endif %}" {% if site.url != 'https://lacolonica.eu' %}href="https://lacolonica.eu"{% endif %}>
                    {% include icon/lacolonica.svg %}
                    <div>
                        <h3>Luxusurlaub in der italienischen Toskana</h3>
                    </div>
                </a>
                
                <a class="item {% if site.url == 'https://colledivino.de' %}active{% endif %}">
                    {% include icon/colledivino.svg %}
                    <div>
                        <h3>Die Aussicht über Würzburg genießen</h3>
                    </div>
                </a>

            </div>
        </div>
    </section>
</amp-accordion>